autostart
dconf
docker
enchant
evolution
gnome-session
goa-1.0
google-chrome
gtk-3.0
gtk-4.0
hexchat
ibus
menus
mimeapps.list
nautilus
pulse
systemd
user-dirs.dirs
user-dirs.locale
VirtualBox
.gsd-keyboard.settings-ported
Code/
github-copilot/
kitty/kitty.conf.bak
nvim/lazy-lock.json
.DS_Store
karabiner/
discord/
gtk*
monitors*
b\*
nvim/undodir/
create-next-app-nodejs/
nextjs-nodejs/
blender/*
lazygit/
Postman/
fish/
snakatro/
JetBrains/PhpStorm2025.1/event-log-metadata
JetBrains/PhpStorm2025.1/codestyles
JetBrains/PhpStorm2025.1/extensions/com.intellij.database/data
JetBrains/PhpStorm2025.1/extensions/com.intellij.database/schema
JetBrains/PhpStorm2025.1/extensions/com.intellij.database/schema.layouts
blender/3.0/config
blender/3.0/config
blender/3.0/config
blender/3.0/config
composer
eog
gedit
htop
jgit
karabiner
kitty/current-theme.conf
kitty/kitty.conf.bak
kitty/kitty.conf
kitty/package-lock.json
kitty/package.json
simple-update-notifier
tiling-assistant
JetBrains/PhpStorm2025.1
GNOME-xdg-terminals.list
xdg-terminals.list
ubuntu-xdg-terminals.list
JetBrains/PhpStorm2025.2/event-log-metadata
JetBrains/PhpStorm2025.2/extensions/com.intellij.database
JetBrains/PhpStorm2025.2/inspection
evince/print-settings
JetBrains/PhpStorm2025.2/workspace
JetBrains/PhpStorm2025.2/settingsSync
JetBrains/PhpStorm2025.2/tasks
JetBrains/PhpStorm2025.2/options
JetBrains/PhpStorm2025.2/.lock
JetBrains/PhpStorm2025.2/app-internal-state.db
JetBrains/PhpStorm2025.2/migration_installed_plugins.txt
JetBrains/PhpStorm2025.2/phpstorm.key
JetBrains/PhpStorm2025.2/plugin_PCWMP.license
JetBrains/PhpStorm2025.2/updatedBrokenPlugins.db
JetBrains/PhpStorm2025.2/early-access-registry.txt
JetBrains/PhpStorm2025.2/disabled_update.txt
JetBrains/PhpStorm2025.2/bundled_plugins.txt
JetBrains/PhpStorm2025.2/codestyles/Default.xml
