autostart
dconf
docker
enchant
evolution
gnome-session
goa-1.0
google-chrome
gtk-3.0
gtk-4.0
hexchat
ibus
menus
mimeapps.list
nautilus
pulse
systemd
user-dirs.dirs
user-dirs.locale
VirtualBox
.gsd-keyboard.settings-ported
Code/
github-copilot/
kitty/kitty.conf.bak
nvim/lazy-lock.json
.DS_Store
karabiner/
